body {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

main {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

canvas {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

